
GATEWAY_PORT=8080
ADMIN_PORT=9876

SESSION_SECRET=i_will_change_this_in_prod


AUTH_MAX_REQ=20
AUTH_WINDOW_MS=60000
POST_MAX_REQ=100
POST_WINDOW_MS=60000


AUTH_SERVICE_URL=http://localhost:4000
POST_SERVICE_URL=http://localhost:5000
