
# Master database
DB_MASTER_HOST=master-host
DB_MASTER_USER=...  
DB_MASTER_PASSWORD=...
DB_MASTER_NAME=...
DB_MASTER_PORT=5432



# Slave /replica database
DB_REPLICA_1_HOST=replica1-host
DB_REPLICA_1_USER=...  
DB_REPLICA_1_PASSWORD=...
DB_REPLICA_1_NAME=...
DB_REPLICA_1_PORT=5433



# Max connections per pool
DB_POOL_MAX=10


REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
